{% extends 'base.html' %}

{% block blockname %}
<h1>page 3 -> context</h1>

<p>
    {{text|capfirst|upper|title}}
    {{number}}
</p>

<ul> 
    <li> 
        Item 1
    </li>
    <li>
        item 2
    </li>
</ul>

{% for listItem in list %}
    {% if listItem == 12 %}
    <li>
        {{forloop.counter}} - {{ listItem|add:22 }}
    </li> 
    {% elif listItem == 2 %}
    <p> say hi</p>
    {% else %}
    <li>
        {{forloop.counter}} - {{ listItem }}
    </li> 
    {% endif %}
{% endfor %}

{% endblock %}